body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

img {
    height: 150px;
    border-radius: 15px;
}

.content{
    margin-left: 150px;
    margin-right: 150px;
}

.body-sections {
    display: flex;
    flex:1;
    gap: 25px;
    justify-content: center;
}

.part1 {
    background-color: red;
}

.part2 {
    background-color: blue;
}

.part3 {
    background-color: yellow;
}

.part4 {
    background-color: green;
}

.header,
.footer {
    height: 40px;
    background-color: gray;
}

.intro {
    display: flex;
    gap: 15px;
}

.left-1 {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}