body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-size: 18px;
}

img {
    max-width: 150px;
    border-radius: 15px;
    background-color: white;
}

.content{
    margin-left: 150px;
    margin-right: 150px;
}

.body-sections {
    display: flex;
    flex:1;
    gap: 25px;
    justify-content: center;
}

.part1 {
    background-color: #c96060;
}

.part2 {
    background-color: lightblue;
}

.part3 {
    background-color: yellow;
}

.part4 {
    background-color: green;
}

.header,
.footer {
    height: 40px;
    background-color: gray;
}

.intro {
    display: flex;
    gap: 15px;
    align-items: center;
}

.left-1 {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.part2-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alldinos {
    display: flex;
    flex: 1;
    gap: 25px;
}


.dino {
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: column;
}

.quote {
    font-size: 50px;
    margin-bottom: 0px
}

.author {
    text-align: right;
    font-size: 40px;
    margin-top: 0px;
}