body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-size: 20px;
    background-image: url(images/shrug.png);
    background-attachment: fixed;
    background-size: cover;
    font-family: sans-serif
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: rgb(213, 157, 0);
}

.header {
    display: flex;
    background: rgb(50, 50, 50);
    justify-content: space-between;
}

.footer {
    display: flex;
    background: rgb(50, 50, 50);
    color: rgb(194, 194, 194);
    padding: 20px;
    justify-content: center;
}

.header-left {
    width: 80px; 
    margin: 10px;
    border-radius: 10px;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 0px;
    gap: 25px;
    margin-right: 10px;
    font-size: 30px;
    font-weight: bold;
}

li {
    list-style: none;
    color: rgb(194, 194, 194);
}

.acceptable {
    width:250px;
    border-radius: 15px;
}

.dino-image {
    max-width: 150px;
    min-height: 150px;
    border-radius: 15px;
    background-color: white;
    opacity: 1;
}

.content{
    margin-left: 150px;
    margin-right: 150px;
}

.body-sections {
    display: flex;
    flex:1;
    gap: 25px;
    justify-content: center;
}

.part1 {
    background-color: rgb(96, 134, 201, .8);
    color: rgb(255 255 255);
}

.part2 {
    background-color: rgb(134 134 134);
    color: rgb(255 255 0)
}

.part3 {
    background-color: rgb(0 0 255 / 0.8);
    color: rgb(255 255 255)
}

.part4 {
    background-color: rgb(134 134 134);
    color: rgb(0 0 0);
}

.intro {
    display: flex;
    gap: 15px;
    align-items: center;
}

.left-1 {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    margin-right: 25px;
}

.right-1 {
    width: 250px;
}

.part2-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alldinos {
    display: flex;
    flex: 1;
    gap: 25px;
}


.dino {
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: column;
}

.quote {
    font-size: 50px;
    margin-bottom: 0px;
    text-align: justify;
}

.author {
    text-align: right;
    font-size: 40px;
    margin-top: 0px;
}

.banner {
    background: rgb(89 164 255);
    display: flex;
    flex: 1;
    padding-left: 25px;
    margin: 25px;
    align-items: center;
    font-size: 24px;
    border-radius: 5px;
}

button {
    margin: 45px;
    display: flex;
    flex-shrink: 0;
    height: fit-content;
    font-size: 24px;
    padding: 12px;
    border-radius: 10px;
    background: rgba(0, 43, 151);
    color: rgb(255,255,255);
}

.top-button {
    margin-top: 0px;
    margin-left: 0px;
}

